<style>
  .content-grid.mdl-grid {
    margin: auto;
  }
  .mdl-cell {
    margin-right: 10px;
    padding: 20px;
    background-color: #f3f3f3;
    width: calc(calc(100% - 100px) / 4);
    min-width: 150px;
  }
  @media screen and (max-width: 1024px) {
    .mdl-cell {
      padding: 20px;
      background-color: #f3f3f3;
      width: calc(calc(100% - 100px) / 2);
      min-width: 200px;
    }
  }
  img {
    width: 100%;
  }
</style>

<div class="content-grid mdl-grid">

  <div *ngFor="let recipe of _recipes" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <figure class="mdl-card__media">
      <img src="{{ recipe.imgUrl }}" alt="" />
    </figure>
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">{{ recipe.name }}</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <h5>Ingredients:</h5>
      <span>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">More...</a>
    </div>
  </div>

</div>