<style>
  .recipe-card.mdl-card {
    width: 350;
    height: 400px;
    margin: 10px;
  }
  .recipe-card > .mdl-card__title {
    color: #fff;
    background-color: #46B6AC !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
  .mdl-card__supporting-text {
    height: 175px;
  }
</style>


<div class="content-grid mdl-grid">

  <div *ngFor="let recipe of _recipes" class="recipe-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand" [ngStyle]="{'background': 'url(' + recipe.imageUrl + ')'}">
      <h2 class="mdl-card__title-text">{{ recipe.name }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h4>Ingredients:</h4>
      <span *ngFor="let ingredient of recipe.ingredients">
        <span><h5>{{ ingredient.name }}: ({{ ingredient.amount}} ounces)</h5></span>
        <span><h6><i>{{ ingredient.notes }}</i></h6></span>
      </span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More...
      </a>
    </div>
  </div>

  <!-- Show a card to create a new recipe -->
  <div class="recipe-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Create a new recipe...</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h4>Ingredients:</h4>
      <h6>
        Each recipe contains ingredients where you can specify the amount of the ingredient,
         along with any notes you would like to have stored with the ingredient.
      </h6>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="createRecipe()">
        Create...
      </a>
    </div>
  </div>

</div>