<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppConfig" value="C:\Projects\bev-web-app\dist" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>